<launch>

    <node
      name="uav_server"
      pkg="uav_nav_ops"
      type="uav_server.py">

    </node>

    <node
      name="waypoint_publisher"
      pkg="uav_nav_ops"
      type="waypoint_publisher.py">

    </node>

    <node
      name="uav_driver"
      pkg="uav_nav_ops"
      type="uav_driver.py">

    </node>

</launch>
